:root {
  --background-blue: rgb(234, 244, 244);
  --background-yellow: rgb(250, 237, 205);
  --text-purple: rgb(84, 46, 113);
  --text-purple-faded: rgba(84, 46, 113, 0.25);
  --text-purple-shadow: rgba(84, 46, 113, 0.15);
  --text-pure-white: #fff;
  --button-bg-purple: rgb(106, 102, 163);
  --tooltip-bg-blue: rgb(246, 255, 248);
}

.font-weight-bold {
  font-weight: bold;
}

.color-main {
  color: var(--text-purple);
}

.btn-primary {
  border: 1px solid var(--button-bg-purple) !important;
  background-color: var(--button-bg-purple) !important;
}

.btn-primary:hover {
  background-color: var(--bs-gray-300) !important;
  color: var(--button-bg-purple) !important;
  border-color: var(--button-bg-purple) !important;
}

.btn-primary.btn-about {
  border-radius: 100%;
  font-size: 0.75rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

@media screen and (min-width: 1201px) {
  .divider {
    border-right: 1px solid var(--text-purple-faded);
  }
}

hr {
  color: var(--text-purple);
}

.main-container {
  background: linear-gradient(
    235deg,
    var(--background-blue) 33%,
    var(--background-yellow) 100%
  );
}

.btn-check + label {
  background-color: var(--bs-gray-300) !important;
  color: var(--button-bg-purple) !important;
  border-color: var(--button-bg-purple) !important;
}

.btn-check:checked + label {
  border: 1px solid var(--button-bg-purple) !important;
  background-color: var(--button-bg-purple) !important;
  color: var(--text-pure-white) !important;
}

.react-datepicker-wrapper {
  text-align: center;
}

.react-datepicker-label {
  min-width: 100px;
}

.react-datepicker-wrapper input {
  max-width: 175px;
}

.react-datepicker-popper {
  /* leaflet map pane has z-index of 400 */
  z-index: 401 !important;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.leaflet-tooltip {
  background-color: var(--tooltip-bg-blue);
  text-align: left;
  padding: 0.5rem;
  font-family: "Source Sans Pro", sans-serif;
}

.table-container {
  height: 100vh;
  overflow: hidden auto;
}

table span.sorting {
  background-color: var(--bs-gray-300);
  display: inline-block;
  margin-left: 8px;
  color: var(--bs-gray-600);
  padding: 0 4px;
}

table span.sorting.asc {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

table span.sorting.desc {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

table tr.pointer {
  cursor: pointer;
}

table tr.pointer.selected > td {
  background-color: var(--text-purple-faded);
}
