.intensity-slider {
  height: 46px;
  max-width: 300px;
  margin: 1rem 0.5rem 0 0.5rem;
  width: 100%;
}

.intensity-slider-track {
  top: 8px;
  height: 4px;
  background: var(--background-one);
}

.intensity-slider-track.intensity-slider-track-1 {
  background: var(--main--button-bg);
}

.intensity-slider-thumb {
  cursor: pointer;
  background: var(--main--button-bg);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  outline: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transform: translate(-5px, -5px);
}

.intensity-slider-thumb:hover {
  box-shadow: 0 0 0 8px rgba(84, 46, 113, 0.2);
}

.intensity-slider-marks {
  cursor: pointer;
  top: 3px;
  width: 3px;
  height: 15px;
  background-color: var(--main-text);
}