:root {
  --main-color: var(--bs-blue);
  --main-color-hover: rgb(104, 117, 217, 0.2);
  --track-color: #ddd;
  --mark-color: #aaaaaa;
}

.intensity-slider-container {
  min-height: 50px;
}

.intensity-slider {
  /* max width of your slider */
  max-width: 300px;
  /* Optional: Only If you want to center your slider in the page */
  margin: auto;
  width: 100%;
}

.intensity-slider-track {
  /* Top value to align your track to the center of your thumb */
  top: 8px;
  /* thickness of the track */
  height: 4px;
 /* default color of your track */
  background: var(--track-color);
}

.intensity-slider-track.intensity-slider-track-1 {
  /* color of the track before the thumb */
  background: var(--main-color);
}

.intensity-slider-thumb {
  cursor: pointer;
  /*color for the thumb */
  background: var(--bs-blue);
  /* shape of the thumb: circle */
  width: 30px;
  height: 30px;
  border-radius: 100%;
  /* remove default outline when selected */
  outline: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transform: translate(-5px, -5px);
}

.intensity-slider-thumb:hover {
  box-shadow: 0 0 0 8px rgba(13, 110, 253, 0.2);
}

.intensity-slider-marks {
  cursor: pointer;
  top: 6px;
  width: 3px;
  height: 10px;
  /* transform: translateX(15px); */
  background-color: var(--bs-gray-600);
}